body {
      margin: 1%
      auto; background: #a9a9a9;
      color: #be6ab6;
      font-family: Ubuntu-Mono;
      font-size: 17px;
      max-width: 60em;
      line-height: 2.2;
    }
  a {
      border-bottom: 1.5px
      solid #be6ab6;
      color: #be6ab6;
      text-decoration: none;
    }
